
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
  }
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 2px solid green;
    
  }

  main{
    margin: 0 auto;
    width: 90%;
    text-align: center;
   
  }
 img{
    margin: 0 auto;
    width: 272px;
    height: 92px;
 }

 ul{
    list-style-type: none;
    
 }
 a{
    text-decoration: none;
 }
 .nav-items{
    margin-top: 1em;
    display: flex;
    align-items: center;
   
   
 }
 .nav-items li{
    margin-right: 1em;
 }

 .nav-items li:nth-child(1){
    margin-left: auto;
 }
 .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
    
  }
  .material-symbols-outlined{
    
    color: rgb(95,99,104);
    cursor: pointer;
    visibility: visible;
    
  }
  .name{
    background-color:rgb(238, 0, 0);
    padding: .5rem .65rem ;
    text-align: center;
    color: whitesmoke;
    border-radius: 50%;
    cursor: pointer;
    visibility: visible;
  }
  /* .name:hover{
      box-shadow: 0px 0px 100px lightblue;
  } */
 
  

  .app-bar{
    border-radius: 50%;
    background-color: rgb(244, 244, 244);
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

  }
  .app-bar:hover{
    visibility: visible;
  }

  .nameContainer{
    border-radius: 50%;
    background-color: rgb(235, 234, 234);
    padding: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

  }
  .nameContainer:hover{
    visibility: visible;
  }

 /* input[type=text] {

    width: 80%;
    border-radius: 5%;
    border: 5px solid blue;
  } */
  .form{
    border: 1px rgb(220, 220, 220) solid;
    border-radius: 60px;
    padding: 0px 20px;
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
    /* flex-wrap: wrap; */
  }
.form input{
    flex-grow: 1;
    background: transparent;
    border: 0;
    outline: none;
    padding: .5em 1em;
    font-size: 1.2rem;
}
#voice{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.searchAndLucky{
    display: flex;
    justify-content: center;
    margin: 2.5em;
    
}
.searchAndLucky a {
    background-color: rgb(249, 248, 248);
    margin-right: 0.8em;
    padding: 0.75em;
    text-decoration: none;
    border-radius: .25em;
    border: 0.1rem solid transparent;
    
}

.searchAndLucky a:hover{
  border: 0.1em solid rgb(248,249,250);
}

.underlineText:hover{
    text-decoration: underline;
    cursor: pointer;
}


#languages{
  line-height: 5;
}
main{
  padding-bottom: 100px;
}
#languages a{
  color: rgb(26,13,179);
  margin-left: .25em;
  
}

footer{
/* flex-grow: 1; */
background-color: rgb(242,242,242);
/* height: fit-content; */
margin-top: auto;
}
#country{
  padding: 1.25em;
  color: rgb(112,137,184);
  border-bottom: 1px solid rgb(218,220,224);
}
#lastFooter{
  width: 100%;
  font-size: .9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:1em ;
}
#lastFooter a{
  color: rgb(112,117,122);
}
.leftSide, .rightSide{
  display: flex;
}
#lastFooter li{
  margin-left: 1.4em;
} 

@media screen and (max-width: 1100px) {
  .middleSide{
    position: absolute;
    top: 6px;
  } 
  
  #lastFooter{
    position: relative;
  }

  .rightSide{
    margin-top: 3em;
  }
  .leftSide {
    margin-top: 3em;
  }

}

@media screen and (max-width: 700px) {

  .rightSide{
  margin-top: 3em;
}
.leftSide {
  margin-top: 3em;
}
}




